body {
    font-family: Arial;
    background: powderblue;
}

.theMessage {
    height: 5em;
    width: 10em;
    background-color: red;
}

.messageTwo {
    height: 5em;
    width: 10em;
    background-color: purple;
    border: 1px solid orange;
    border-radius: 5px;
}

.messageThree{
    height: 5em;
    width: 10em;
    background-color: yellow;
}


.bar {
    width : 3em;
    height: 4em;
    background-color: purple;
    float: left;
    margin : 0.1em;
}

.one {
    height: 7em;
}
.two {
    height: 13em;
}
.three {
    height: 5em;
}
.four {
    height: 4em;
}

.car {
    padding-bottom: 1em;
    border : 1px solid;
    width : 15em;
    padding : 0.5em;
    margin : 0.5em;
}
